body {
    font-family: poppins;
}

.header {
    width:100%; 
    max-width: 1400px; 
    margin: 0 auto; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.full-logo { /* fix align with head-info-title*/
    display: block; 
    width: 185px; 
    height: 32px;
    margin-left: 144px;
    padding-left: 144px;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav>li {
    margin-left: 15px;
    font-size: 14px;
   
}

.nav>li>a {
    color: #2F281E; 
    text-decoration: none;
    font-weight: 400;
}

.nav>li>a:hover {
    text-decoration: underline;
}

.sign-in-button {
    background-color: #ffffff;
    color: #173A56; 
    border-color: #BCD0E5;
    border-style: solid;
    border-radius: 5px;
    width: 102px; 
    height: 46px; 
    font-size: 16px;
    font-weight: 600;
}

.sign-in-button:hover {
    text-decoration: underline;
}

.sign-up-button {
    width: 110px;
    height: 46px;
    background-color: #FF9900;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border-color: none;
    border-style: none;
}

.sign-up-button:hover {
    text-decoration: underline;
}

.header-info {
    display: block;
    width: 100%; 
    max-width: 518px;
    margin-left: 145px;
    padding-top: 113px;
}

.header-info-title {
    font-weight: 700;
    font-size: 44px;
    color: #2F281E; 
    line-height: 1.2;

}

.header-info-paragraph {
    font-weight: 400;
    font-size: 18px;
    color: #544837;
    margin-top: 30px;
    line-height: 1.5;
}

.get-started-button {
    width: 175px; 
    height: 53px; 
    background-color: #FF9900;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
    margin-top: 30px;
}

.get-started-button:hover { 
    text-decoration: underline;
}

.watch-video-button { /*fix size of arrow*/
    background-color: #ffffff;
    color: #FF9900;
    font-weight: 600;
    font-size: 16px;
    border: none; 
    text-decoration: underline;
    margin-top: 30px; 
}

.watch-video-button:hover { 
    color: #173A56; 
}

.header-image {
    /*position: relative;
    width: 605px; 
    height: 496px; 
    margin-top: -400px;
    margin-left: 800px;*/
    display: block;
    float: right;
    margin-top: -400px; 
    margin-right: 150px;

}