.header {
    width:100%; 
    max-width: 1400px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30px; 
    height: 30px; 
}

.logo-name {
    width: 143px; 
    height: 29px; 
}

.sign-in-button {
    color: #173A56; 
    border-color: #BCD0E5;
    width: 102px; 
    height: 46px; 
}